header{
    background-color: #4e6766;
    padding: 30px 30px 20px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
.Start{
    display: flex;
}
img{
    width: 200px;
    height: 100px;
    padding: 20px 20px 10px 10px;
}
input{
  width: 250px;
  height: 25px;
}