.sub{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

button{
    width: 150px;
    height: 25px;
    border-radius:  10px;
    background-color: #f2a73d;
}
.sub a{
    color: #f2a73d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}
input{
    width: 110px;
    height: 15px;
    border-radius: 6px;
}
.ordenar{
    display: flex;
}
p1{
    color: azure;
}